body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    margin-bottom: 20px;
}

img{
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.photos{
    height:300px;
    width: 300px;
}